<app-interpolation></app-interpolation>
<hr>
<app-property-binding [name]="'Gergő'" [stringData]=wow></app-property-binding>
<hr>
<app-style-binding></app-style-binding>
<hr>
<app-class-binding></app-class-binding>
<hr>
<app-event-binding></app-event-binding>
<hr>
<app-local-references></app-local-references>
<hr>
<app-output-event-emitter (outputDate)="outputDateArrived($event)"></app-output-event-emitter>
<p id="currentDate"></p>
