<h1>Lifecycle Hooks</h1>
<p>Open console to see information about the lifecycle hooks.</p>
<p>For more information visit the official documentation.</p>
<app-child *ngIf="isVisible" [myNewNumber]="counter" [myName]="user"></app-child>
<button (click)="increment()">Increment</button>
<button (click)="decrement()">Decrement</button>
<button (click)="updateName()">Update Name</button>
<button (click)="switchVisibility()">Show / Hide</button>
