<p *ngIf="this.isLoading">Loading...</p>
<ul *ngIf="!this.isLoading">
  <li *ngFor="let nameHeight of this.nameHeights | keyvalue">
    {{ nameHeight.key }} is {{ nameHeight.value }} cm tall.
  </li>
</ul>
