<h1>ng-template with ngIf, ngIfElse</h1>
<ng-template [ngIf]="date.getSeconds() % 2 === 0" [ngIfElse]="paratlan">
  <p>Páros másodpercben nyitottuk meg az oldalt.</p>
</ng-template>
<ng-template #paratlan>
 <p>Páratlan másodpercben nyitottuk meg az oldalt.</p>
</ng-template>
<p>ng-template is an Angular element used to render HTML templates.</p>
<p>A structural directive that conditionally includes a template based on the value of an expression coerced to Boolean. When the expression evaluates to true, Angular renders the template provided in a then clause, and when false or null, Angular renders the template provided in an optional else clause. The default template for the else clause is blank.</p>
