<h1>Interpolation</h1>
<p>Hello {{ name }}!</p>
<p>
  Angular interpolation is used to display a component property in the respective view template with double curly braces syntax.
  <br>
  Interpolation is used for one way data binding. Interpolation moves data in one direction from our components to HTML elements.
</p>

