<h1>Event Binding (One-way Data Binding)</h1>
<p>Click to increase the number: <span (click)="countClick()">Increase</span></p>
<p>You have clicked {{ clickCounter }} many times.</p>
<p>You can use Angular event bindings to respond to any DOM event. Many DOM events are triggered by user input. Binding to these events provides a way to get input from the user.</p>
