<h1>Property Binding (Input())</h1>
<p>Here is my name again: {{ name }}, this is form the parent component's HTML.</p>
<p>
  Parent -> Data -> Child
  <br>
  Here is a string from the basics component which is the parent component of the property binding component: {{ stringData }}
  <br>
  The string is the parent component's property.
</p>
