<h1>Services</h1>
<app-persons></app-persons>
<app-person-input></app-person-input>
<p>
  Angular services are singleton objects that get instantiated only once during the lifetime of an application.
  They contain methods that maintain data throughout the life of an application, i.e. data does not get
  refreshed and is available all the time. The main objective of a service is to organize and share business
  logic, models, or data and functions with different components of an Angular application.
</p>
