<p>This is component where we add persons to the existing persons component.</p>
<input type="text" id="nameInput" [(ngModel)]="enteredPersonName">
<button (click)="onAddPerson()">Add new person</button>
