<h1 [ngClass]="setClasses()">ngClass</h1>
<p>
  Adds and removes CSS classes on an HTML element.
  <br>
  The CSS classes are updated as follows, depending on the type of the expression evaluation:
</p>
<ul>
  <li>string - the CSS classes listed in the string (space delimited) are added,</li>
  <li>Array - the CSS classes declared as Array elements are added,</li>
  <li>Object - keys are CSS classes that get added when the expression given in the value evaluates to a truthy value, otherwise they are removed.</li>
</ul>
