<h1>(ngModel) (Two-way Data Binding)</h1>
<p>
  <label for="something">Type something: </label>
  <input type="text" id="something" [(ngModel)]="thing">
  <br>
  <strong>You said: </strong> {{ thing }}
</p>
<p>
  Creates a FormControl instance from a domain model and binds it to a form control element.
  <br><br>
  The FormControl instance tracks the value, user interaction, and validation status of the control and keeps the view synced with the model. If used within a parent form, the directive also registers itself with the form as a child control.
  <br><br>
  This directive is used by itself or as part of a larger form. Use the ngModel selector to activate it.
  <br><br>
  It accepts a domain model as an optional Input. If you have a one-way binding to ngModel with [] syntax, changing the value of the domain model in the component class sets the value in the view. If you have a two-way binding with [()] syntax (also known as 'banana-box syntax'), the value in the UI always syncs back to the domain model in your class.
  <br><br>
  To inspect the properties of the associated FormControl (like validity state), export the directive into a local template variable using ngModel as the key (ex: #myVar="ngModel"). You then access the control using the directive's control property, but most properties used (like valid and dirty) fall through to the control anyway for direct access. See a full list of properties directly available in AbstractControlDirective.
</p>
