<h1 [class.active]="date.getSeconds() % 2 === 0">Class Binding</h1>
<p>
You can edit HTML element's class attribute like: [class.attribute]=expression
<br>
Only one class attribute can be added or removed!
</p>

