<ul>
  <li><a routerLink="">Welcome</a></li>
  <li><a routerLink="/bindings">Bindings</a></li>
  <li><a routerLink="/directives">Directives</a></li>
  <li><a routerLink="/services">Services</a></li>
  <li><a routerLink="/lifecycle_hooks">Lifecycle Hooks</a></li>
  <li><a routerLink="/httprequests">Http Requests</a></li>
</ul>
<router-outlet></router-outlet>
