<h1>Passing Data with Local References</h1>
<label for="name">Enter your name: </label>
<input type="text" id="name" #nameElement>
<br>
<button (click)="sayMyName(nameElement.value)" >Show my name</button>
<p id="myName"></p>
<p>Instead of two-way binding, we can easily fetch a value of any input through local references in Angular. Local references can be fetched directly from the component template and into the component typescript class.</p>
