<h1>Passing Data Around with Custom Events (Output() EventEmitter)</h1>
<button (click)="passCurrentTime()">Click to pass the current time!</button>
<p>
  Child -> Data -> Parent
  <br>
  Data flows from the child component to the parent component beacuse a custom event occured.
</p>

