<h1>*ngFor</h1>
<ul>
  <li *ngFor="let number of numbers">{{ number }}</li>
</ul>
<p>
  NgFor is a directive that iterates over collection of data. It is used to customize data display. Whenever there is change in collection of data at runtime, that will be updated in data display iterated by NgFor directive. NgFor provides local variables that will help to get index of current iteration, detect if element in iteration is first or last and odd or even. NgFor is used with HTML element as well as component element. NgFor with HTML element iterates the template within it. NgFor with component element iterates the child component HTML template. NgFor can be used with asterisk(*) or template directive or template tag. Any change in contents in iteration is propagated to DOM.
</p>
