<h1 [style.color]="date.getSeconds() % 2 === 0 ? 'red' : 'blue'">Style Binding</h1>
<p>
You can edit HTML element's style attribute like: [stlye.attribute]=expression
<br>
Only one attribute can be modified!
</p>
