<h1 [ngStyle]="{
  'background-color': date.getSeconds() % 2 === 0 ? 'red' : 'green',
  'color': date.getSeconds() % 2 === 0 ? 'yellow' : 'orange'
}">ngStyle</h1>
<p>An attribute directive that updates styles for the containing HTML element. Sets one or more style properties, specified as colon-separated key-value pairs. The key is a style name, with an optional unit suffix (such as 'top.px', 'font-style.em'). The value is an expression to be evaluated. The resulting non-null value, expressed in the given unit, is assigned to the given style property. If the result of evaluation is null, the corresponding style is removed.</p>
